.col-md-12 > .col {
    padding-left: 0;
    padding-right: 0;
}

.header-spacer {
    height: 46px;
    width: 100%;
}

.card {
    position: relative;
}

.headings {
    margin-bottom: 24px;
    clear: left;
}

#teamLogo {
    margin: 12px 0;
}

#teamLogo img {
    display: block;
    max-width: 100%;
    height: auto;
}

.userTeam {
    background-color: rgb(198, 229, 255) !important;
}

#liveSearch {
    width: 100%;
    margin: 5px 0;
}

.chosen {
    background-color: rgb(251, 109, 63);
    color: #fff;
}

.returnButton {
    position: absolute;
    top: 5px;
    left: 10px;
    width: auto;
}

#creator {
    display: none;
}

#joiner {
    display: none;
}

#joinSubmit {
    display: none;
}

#createSubmit {
    display: none;
}

#legend {
    font-size: .8em;
    position: absolute;
    bottom: -2px;
    left: 10px;
}

#legend img {
    height: 21px;
}

.options {
    width: 100%;
    max-height: 22px;
    margin: 0;
    float: left;
    padding-left: 5px;
    border-bottom: .01px solid #cccccc;
}

.options:hover {
    background-color: rgb(61, 182, 239);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.privacy img {
    padding: 2px 5px 4px 0;
    max-height: 22px;
    float: right;
}

.teamLogo {
    margin-top: 15px;
}

#logo {
    margin-top: 5px;
}

#linker {
    margin-bottom: 12px;
}

#linker .clipLabel {
    margin: 24px 0 12px 0;
    font-weight: 600;
    display: block;
}

#teamClip {
    position: absolute;
    top: -999px;
    left: -999px;
}

.clipDisplay {
    height: 29px;
    width: 360px;
    padding: 8px;
    overflow: auto;
    background: rgb(236, 236, 236);
}

.clp-btn {
    border-color: transparent;
}

.clp-btn img {
    width: 20px;
}

#chatWindow {
    width: 100%;
    height: 200px;
    background-color: #f0f2ff;
    border: .1px solid #1f1a5f
}
